<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="TeamCity" value="http://TeamCity:88/guestAuth/app/nuget/v1/FeedService.svc" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="TeamCity" value="http://TeamCity:88/guestAuth/app/nuget/v1/FeedService.svc" />
  </activePackageSource>
</configuration>